# Ignorar la carpeta imagenes
resultados_imagenes/
imagenes/

# Ignorar la carpeta __pycache__
__pycache__/

# Ignorar el archivo modelo_objeto.h5
modelo_objeto.h5
autoencoder_model.h5

# Ignorar el archivo modelo_objeto.h5
build/
dist/
Interfaz.exe
Interfaz.spec